*{
    font-family:"brice-light_expanded" ;
    margin: 0;
}

@font-face {
    font-family: "brice-black";
    src: url('Brice/Brice-Black.otf')
  } 

@font-face {
    font-family: "brice-light_expanded";
    src: url('Brice/Brice-LightExpanded.otf');
}
@font-face {
    font-family: "brice-light_condensed";
    src: url('Brice/Brice-LightCondensed.otf');
}
  .body{

    padding: 0px;
    background-color: rgba(154, 231, 236, 0.247);
}

.header{

    width: 100%;
    height: 100px;
    background-color: rgb(90, 65, 40);
    /*border-top-right-radius: 30px;
    border-top-left-radius: 30px;*/
    position: absolute;
    float: none;
    opacity: 80%;
   
}


.n{
    width: 100%;
    height: 500px;
    padding: 0px 0px;
}

nav .logo {

    width: 100px;
    height: 100px;
    margin-right:700px ;
  
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}


nav ul li a{
    text-decoration: none;
    color: whitesmoke;

}
nav a:hover {

    color:rgb(226, 204, 142);
}
.nav{
    width: 100;
    position:absolute;
    top: 0;
    left:0;
    padding:0px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    font-size: small;
    
 
}
.ndream{

    width:100%;;
    height: 600px;
    background-color: blanchedalmond;
    /*margin-bottom: 25px;*/
  
}
.golla {
    width: 100%;
    height: 650px;

    
}

.n{
    width: 100%;
    height: 500px;
    padding: 0px 0px;
}

.discography_con{

    width: 100%;
    height: aut;
    background-color: beige;
    padding-top: 175px;
    padding-bottom: 100px;
    align-items: center;
}

.title1{

    margin: 30px 37%;
    margin-top: 50px;
    font-size: 30px;
    background-color: white;
    width: 360px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50px;
    border: 5px solid saddlebrown;
    position: absolute;
    z-index: 1;
  
}

.title{

    margin: 0px 40%;
    margin-bottom: 100px;
    font-size: 35px;
    background-color: white;
    width: 300px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50px;
    border: 5px solid saddlebrown;
    position: absolute;
    z-index: 1;
  
}

.title3{

    margin: 30px 40%;
    margin-top: 50px;
    font-size: 35px;
    background-color: white;
    width: 300px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50px;
    border: 5px solid saddlebrown;
    position: absolute;
    z-index: 1;
}

.mv{

    width: 85%;
    height: 400px;
    background-color: /*rgb(224, 196, 170)*/#C4A484;
    margin: 100px;
    margin-left: 105px;
    margin-top: 80px;
    border-radius: 25px;
    border: 5px solid saddlebrown;
    position: relative;
    overflow: scroll;
    padding: 50px 0px;
}

.iframe1{
    width:500px ;
    height: 350px;
    padding-top: 50px;
    padding-left: 50px;
    float: left;
}

.iframe2{
    width:500px ;
    height: 350px;   
    padding-top: 50px;
    padding-right: 50px;
    float: right;
    
}

#cafe2 {
    width:100% ;
    height: 500px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-top-width: 5px;
    border-top-style: dotted;
    border-top-color: rgb(100, 88, 72);;
    border-bottom-width: 5px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(100, 88, 72);;
        
}

.shows{

    width: 85%;
    height: 400px;
    background-color: /*rgb(224, 196, 170)*/#C4A484;
    margin: 100px;
    margin-left: 105px;
    margin-top: 120px;
    border-radius: 25px;
    border: 5px solid saddlebrown;
    position: relative;
    overflow: scroll;
    padding: 50px 0px;
}


.footer{

    width: 100%;
    height: 100px;
    background-color: rgb(49, 40, 32);
    padding: 50px 5%;
    padding-bottom: 100px;
    color: whitesmoke;
    display: flex /*para dise by side */;
    font-size: large;
    

}

.footer div{

    text-align: center;
}

.col2{

    flex-grow: 3 /* para ang space nga bul on times 2*/;

}

.footer div h3{

    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: small;
    
}

.col1{

    margin-left: 100px;
  
}
.col2{

  
    margin-left:90px;;
  
}
.col3{

    margin-right: 200px;
}
.col1 a{

    text-decoration: none;
    display: block;
    color: whitesmoke;
    margin-bottom: 10px;
    font-size: 13px;
}

.col3 p{

    font-size: small;
}

form input{

    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-bottom:20px ;
    outline: none;
    border: none;
}

form button{

    width: 220px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    outline: none;
    border: 2px solid whitesmoke;
    background: transparent;
    font-size: 12px;
    cursor: pointer ;
    color: whitesmoke;
}